SPRING_PROFILES_ACTIVE=prod
SERVER_PORT=8080

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=capics
DB_URL=jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
DB_USERNAME=capics_user
DB_PASSWORD=CHANGE_ME_CAPICS_DB_PASSWORD
DB_SCHEMA_MODE=reset

POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=CHANGE_ME_POSTGRES_ADMIN_PASSWORD

JWT_SECRET=CHANGE_ME_TO_A_RANDOM_32_PLUS_CHAR_SECRET
JWT_EXPIRATION=86400000
APP_CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
LOG_LEVEL_APP=INFO
LOG_LEVEL_SECURITY=WARN

FRONTEND_PORT=3000
PSQL_BIN=C:\Program Files\PostgreSQL\18\bin\psql.exe
